<html>

<head>
  <title>Speaker Verification API demo - Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<div class="container pt-3">
  
  <div class="jumbotron p-4">
    <h2>Speaker Verification API demo</h2>
    <p>This is a demonstration of <i>speaker verification</i> (aka <i>speaker authentication</i>) using a REST API.</p>
  </div>

  <div id="sessionContainer">
    <h5 >Registered User</h5>
    <form class="form-inline">
      <label for="email" class="mr-sm-2">To log your sessions </label>
      <input type="email" class="form-control mb-2 mr-sm-2" placeholder="enter username/email" id="loginUser">
      <button id="login" type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">New User</h5>
        <p>If you're new to this, then you will need to register.</p><p>
           Once registered the session data you create will be stored.
            Because the collected 'speech features' are personal data, you'll need to give consent this.
        </p>
    <form class="form-inline">
      <label for="email" class="mr-sm-2">To register </label>
      <input type="email" class="form-control mb-2 mr-sm-2" placeholder="enter username/email" id="registerUser">
      <label for="alias" class="mr-sm-2">and a </label>
      <input type="alias" class="form-control mb-2 mr-sm-2" placeholder="public alias" id="registerAlias">
      <button id="register" type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
      </div></div>

  </div>

  <!-- user not found Modal -->
  <div class="modal fade" id="nouserModal" tabindex="-1" role="dialog" aria-labelledby="nouserModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="nouserModalLabel">User/password not found</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Sorry that user session can't be found, check the email address and password used.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>


</div>

<script>

window.onload = function () {
  console.log(sessionStorage.token)
  if (sessionStorage.getItem("token") !== null) { //session already 
        window.location.href = "/"
    }
  }

  document.querySelector('#login').addEventListener('click', function (e) {
    e.preventDefault()
    console.log("clicked login")
    console.log(document.getElementById("loginUser").value)
    clientInfo = { appCodeName: navigator.appCodeName, 
                   appVersion: navigator.appVersion,
                   platform: navigator.platform,
                   userAgent: navigator.userAgent, 
                   oscpu: navigator.oscpu
                   }
    console.log(clientInfo)
    apiCall('session', { username: document.getElementById("loginUser").value, clientInfo: clientInfo })
  });

  document.querySelector('#register').addEventListener('click', function (e) {
    e.preventDefault()
    console.log("clicked register")
    console.log(document.getElementById("registerUser").value)
    apiCall('user', { username: document.getElementById("registerUser").value, alias: document.getElementById("registerAlias").value })
  });



function apiCall(command, message) {
    const apiURL = '{{ url_for('index', _external=True) }}'

    switch (command) {
      case 'session':
        fetch(apiURL + command, {
          headers: { "Content-Type": "application/json; charset=utf-8" },
          method: 'POST',
          body: JSON.stringify(message)
        })
          .then(response => response.json())
          .then(data => {
            if (data.hasOwnProperty("token")) { 
              console.log(data)
              sessionStorage.token = data.token //success - store JWT
              window.location.href = "/"        //re-direct to app 
          } else {
              $("#nouserModal").modal()
            }
          })
          .catch((error) => {
            console.log(error)
          })
        break
        case 'user':
        fetch(apiURL + command, {
          headers: { "Content-Type": "application/json; charset=utf-8" },
          method: 'POST',
          body: JSON.stringify(message)
        })
          .then(response => response.json())
          .then(data => {
            if (data.hasOwnProperty("token")) { 
              console.log(data)
              sessionStorage.token = data.token //success - store JWT
              window.location.href = "/"        //re-direct to app 
          } else {
              $("#nouserModal").modal()
            }
          })
          .catch((error) => {
            console.log(error)
          })
        break
    }
  }
</script>

</html>