<html>

<head>
  <title>Speaker Verification API demo - Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<div class="container pt-3">

  <div class="jumbotron p-4">
    <h2>Speaker Verification API demo</h2>
    <p>This is a demonstration of <i>speaker verification</i> (aka <i>speaker authentication</i>) using a REST API.</p>
  </div>

  <div id="sessionContainer">
    <h5>Existing User</h5>
    <form id="loginForm" class="form-inline" novalidate>
      <label for="email" class="mr-sm-2">To access your session:</label>
      <input type="email" class="form-control mb-2 mr-sm-2" placeholder="enter email address" id="loginUser" required>
      <button id="login" type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">New User</h5>
        <p>Please register to use this application. The session data you create will be stored (read 'Data usage and
          privacy statement').
        </p>
        <form id="registerForm" novalidate>
          <h6>User Registration Details</h6>
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="email" class="form-control" placeholder="Email" id="registerUser" required>
              <div class="invalid-feedback">Please enter a valid email address.</div>
            </div>
            <div class="form-group col-md-6">
              <input type="text" class="form-control" placeholder="Public alias" id="registerAlias" minlength="5"
                maxlength="20" required>
              <div class="invalid-feedback">Please enter a public alias (5-20 chars).</div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3">
              <select class="form-control" id="registerAge" required>
                <option selected disabled hidden value="">Age group...</option>
                <option>16-19</option>
                <option>20-29</option>
                <option>30-39</option>
                <option>40-49</option>
                <option>50-59</option>
                <option>60-69</option>
                <option>70-79</option>
                <option>80-89</option>
                <option>90+</option>
                <option>Prefer Not to say </option>
              </select>
              <div class="invalid-feedback">Please select</div>
            </div>
            <div class="col-sm-3">
              <select class="form-control" id="registerGender" required>
                <option selected disabled hidden value="">Gender...</option>
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
                <option>Prefer Not to say </option>
              </select>
              <div class="invalid-feedback">Please select</div>
            </div>
            <div class="form-group col-md-6">
              <input type="text" class="form-control" placeholder="Accent description (Country, region, etc)"
                id="registerAccent" required>
            </div>

          </div>
          <div class="form-group">
            <label>Data usage and privacy statement:</label>
            <textarea class="form-control disabled" id="DataPrivacy" rows="10">{{ GDPR_TEXT }}</textarea>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="dataPrivacyCheck" required>
            <label class="form-check-label" for="dataPrivacyCheck">I have read and accept data usage and privacy
              statement</label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
          <button id="register" type="submit" class="btn btn-primary mt-2">Register</button>
        </form>
      </div>
    </div>

  </div>

  <!-- user not found Modal -->
  <div class="modal fade" id="nouserModal" tabindex="-1" role="dialog" aria-labelledby="nouserModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="nouserModalLabel">Credentials not found</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Sorry that user session can't be found, check the login credentials used.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>


</div>

<script>

  window.onload = function () {
    console.log(sessionStorage.token)
    if (sessionStorage.getItem("token") !== null) { //session already 
      window.location.href = "/"
    }
  }

  document.querySelector('#login').addEventListener('click', function (e) {
    e.preventDefault()
    if (document.querySelector('#loginForm').checkValidity() === false) {
      document.querySelector('#loginForm').classList.add('was-validated');
    } else {
      console.log("Logging in:" + document.getElementById("loginUser").value)
      clientInfo = {
        appCodeName: navigator.appCodeName,
        appVersion: navigator.appVersion,
        platform: navigator.platform,
        userAgent: navigator.userAgent,
        oscpu: navigator.oscpu
      }
      console.log(clientInfo)
      apiCall('session', { username: document.getElementById("loginUser").value, clientInfo: clientInfo })
    }
  });

  document.querySelector('#register').addEventListener('click', function (e) {
    e.preventDefault()
    console.log("Registering")
    if (document.querySelector('#registerForm').checkValidity() === false) {
      console.log("Oops invalid form")
      document.querySelector('#registerForm').classList.add('was-validated');
    } else {
      console.log(document.getElementById("registerUser").value)
      apiCall('user', { username: document.getElementById("registerUser").value, alias: document.getElementById("registerAlias").value })
    }
  });



  function apiCall(command, message) {
    const apiURL = '{{ url_for('index', _external=True) }}'

    switch (command) {
      case 'session':
        fetch(apiURL + command, {
          headers: { "Content-Type": "application/json; charset=utf-8" },
          method: 'POST',
          body: JSON.stringify(message)
        })
          .then(response => response.json())
          .then(data => {
            if (data.hasOwnProperty("token")) {
              console.log(data)
              sessionStorage.token = data.token //success - store JWT
              window.location.href = "/"        //re-direct to app 
            } else {
              $("#nouserModal").modal()
            }
          })
          .catch((error) => {
            console.log(error)
          })
        break
      case 'user':
        fetch(apiURL + command, {
          headers: { "Content-Type": "application/json; charset=utf-8" },
          method: 'POST',
          body: JSON.stringify(message)
        })
          .then(response => response.json())
          .then(data => {
            if (data.hasOwnProperty("token")) {
              console.log(data)
              sessionStorage.token = data.token //success - store JWT
              window.location.href = "/"        //re-direct to app 
            } else {
              $("#nouserModal").modal()
            }
          })
          .catch((error) => {
            console.log(error)
          })
        break
    }
  }
</script>

</html>